extends ./layout

block content
  //- div.fancyBackground(ng-controller="StoryTime")
  div.business.card.row
    div.col-md-4.square(style="background:#9B59B6;background-image:url('http://i.imgur.com/wo53GvJ.png')")
      a(href="/blog")

    div.col-md-4.square(style="background:#3498DB;background-image:url('http://i.imgur.com/q0ZNDNP.png')")
      a(href="")
    div.col-md-4.square(style="background:#2ECC71;background-image:url('http://i.imgur.com/ZSQ1PhP.png')")
      a(href="")
    v.row
    div.col-md-4.square(style="background:#8E44AD;background-image:url('http://i.imgur.com/8JlxFLp.png')")
      a(href="")
    div.col-md-4.square(style="background:#2980B9;background-image:url('http://i.imgur.com/CWR45On.png')")
      a(href="")
    div.col-md-4.square(style="background:#27AE60;background-image:url('http://i.imgur.com/3RlvxEp.png')")
      a(href="")

block head
  script(src='/javascripts/posts/story.js')  