extends ./layout

block content
  div(ng-controller="StoryTime" ng-init="posts = #{JSON.stringify(posts)}")
    article(ng-repeat="post in posts")
      div.picture(style="{{getPicture(post)}}")
      div.words
        div.post
          h1.title {{post.data.title}}
          h2.info {{post.data.author}} on {{formatDate(post)}}
          div(markdown="post.content")

block head
  script(src='/javascripts/posts/story.js')  